# RF output
logs
**/output.xml
**/interactive_console_output.xml
**/log.html
**/report.html

# Ignore all PNG files with 'screenshot' in their name
**/*screenshot*.png

# Specific directory for screenshots
browser/screenshot/*.png

# Ignore the playwright log file
playwright-log.txt

# auto generated docs
**/docs/**/*.html

# Python cache
**/__pycache__
**/*.pyc

**/*.pdf
